@red-color: #E05858;
@white-color: #DEDEDE;
@dark-grey-color: #222222;

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

body {
	margin: 0;
	font-family: verdana;

	& .main {
		position: relative;
		width: 100%;
		height: 100vh;
		overflow: hidden;

		& .song-info {
			position: absolute;
			top: -300px;
			background-color: rgba(1, 1, 1, 0.6);
			width: 280px;
			height: 280px;
			transition: top 0.2s linear;
			padding: 10px;

			&.shown {
				top: 0;
			}

			& .artist {
				font-size: 40px;
				color: @red-color;
				font-weight: bold;
				word-wrap: break-word;
			}

			& .title {
				font-size: 30px;
				color: @white-color;
				word-wrap: break-word;
			}
		}

		& #mousearea {
			background: none;
			position: absolute;
			height: 300px;
			width: 300px;
		}

		& .settings {
			position: absolute;
			top: 300px;
			background-color: rgba(1, 1, 1, 0.6);
			width: 280px;
			height: 280px;
			transition: top 0.2s linear;
			padding: 10px;

			&.shown {
				top: 0;
			}

			& p {
				font-size: 30px;
				color: @white-color;
				margin: 10px 0;
			}

			& input {
				background-color: #FFFFFF;
				border: 0;
				border-radius: 5px;
				width: 100%;
				font-size: 25px;
				color: @dark-grey-color;
			}
		}

		& .cover {
			position: absolute;
			background-size: cover;
			background-position: center;
			height: 300px;
			width: 300px;
		}

		& .background {
			position: absolute;
			background-image: url('img/background.png');
			height: 300px;
			width: 300px;
		}

		& .controls {
			.noselect;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 50px;
			background: -webkit-gradient(linear, left top, left bottom,
				color-stop(0%,#dddddd), color-stop(100%,#c6c6c6));
			color: #444444;
			text-align: center;

			& i:hover {
				color: #333333;
			}

			& .control {
				width: 30px;
				margin: 0 20px;
				position: relative;
				top: 50%;
				-webkit-transform: translateY(-50%);
				font-size: 30px;
			}

			& #settingsBtn {
				position: absolute;
				bottom: 17px;
				right: 17px;
			}
		}
	}
}
